html{
    height: 100%;
}
h1{
    font-style: italic;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position:absolute;
    top: 20%;
    left:50%;
    transform: translate(-50%, -50%);

}
.scaleimage{
    height: 100px;
   justify-self: center;
}
#image1{
    text-align: center;
}
/* instagram logo colors for inspiration */
body{
    background: linear-gradient(to bottom, rgb(187, 170, 39), rgb(147, 70, 189));
    color: white;
    font-family: Arial, Helvetica, sans-serif
}
#output{
    font-size: 13px;
}
span{
    color: red;
    white-space: nowrap;
    font-size: 13px;
}
/* wrapper class cleans up original looks by adding background colors and proper/aesthically pleasing position */
/* adds transparency to black backrground */
.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform is how much right, then how much down */
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 30px;
    box-shadow: rgb(35, 52, 77) 0px 20px 30px -10px;
}
/* changes color of input line and all text entered on it*/
input{
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    outline: none;
    background: transparent;
    color: rgb(255, 255, 255);
}
select{
    outline: none;
}
button{
    color:white;
    padding: 10px;
    border: 2px solid white;
    background: linear-gradient(to left, rgb(243, 159, 173), rgb(233, 233, 0));
    cursor: pointer;
}